.blocker
  padding: 0
  background-color: #000
  display: flex
  flex-direction: column
  min-height: 100%

  &.current
    .modal-request
      display: flex !important
      align-items: center

  &::before
    content: none

.modal-request

  &__wrap

  &__inner
    display: flex

  &__left-col

  &__title
    margin-bottom: 30px

  &__text
    font-weight: 300
    font-size: 18px
    color: rgba(#B0B3C6, 0.8)
    margin-bottom: 84px

  &__form
    max-width: 330px

  &__right-col

  &__img-wrap

  &__img

.modal
  border-radius: 0
  background-color: #010101
  padding-top: 0
  padding-bottom: 0
  padding-left: 0
  padding-right: 0
  max-width: none
  width: 100%
  flex-grow: 1
  height: 100%

.container

.title

.form

  &__field

  &__block

    & + div
      margin-top: 20px

  &__label
    display: none

  &__input
    width: 100%
    color: #F9F9F9
    font-size: 18px
    padding-bottom: 20px
    padding-top: 20px
    background-color: transparent
    padding-left: 0
    padding-right: 0
    border: 0
    border-bottom: 1px solid #7C859D

    &::placeholder
      color: #F9F9F9
      font-size: 18px
      padding-bottom: 20px

  &__btn
    margin-top: 40px
    margin-bottom: 30px
    width: 100%
    padding-top: 20px
    padding-bottom: 20px
    text-align: center
    text-transform: uppercase
    cursor: pointer

  &__consent

.size-2

.size-3

.valid

.btn-1

.size-0

.consent
  font-size: 12px
  text-align: center
  color: #7C859D

  &__link
    font-size: 12px
    text-align: center
    color: #7C859D

.hover-opacity
