.blocker
  padding: 0
  background-color: #000
  display: flex
  flex-direction: column
  min-height: 100%

  &.current

    .modal
      display: flex !important
      align-items: center
      min-height: 100%

      +mw(768)
        align-items: flex-start
        padding-top: 100px
        overflow: auto

    .modal-request
      +mw(768)
        padding-top: 130px

  &::before
    content: none

.modal-request
  position: relative

  &::after
    content: ""
    position: absolute
    width: 100%
    height: 100%
    left: 0
    top: 0
    background-image: url(/img/request-1.png), url(/img/request-2.png), url(/img/request-3.png)
    background-repeat: no-repeat
    background-size: contain
    pointer-events: none

    +mw(768)
      background-image: url(/img/request-1.png), url(/img/request-2.png)

  &__wrap
    flex-grow: 1

  &__inner
    display: flex
    position: relative

    +mw(768)
      flex-direction: column
      align-items: center

  &__left-col
    position: relative
    z-index: 1

    +mw(768)
      display: flex
      flex-direction: column
      align-items: center

  &__title
    margin-bottom: 30px

  &__text
    font-weight: 300
    font-size: 18px
    color: rgba(#B0B3C6, 0.8)
    margin-bottom: 84px
    max-width: 479px

    +mw(768)
      text-align: center
      margin-bottom: 50px

  &__form
    max-width: 330px

    +mw(600)
      max-width: none

  &__right-col
    position: absolute
    right: 0
    top: 68%
    transform: translateY(-50%)
    width: 70%

    +mw(768)
      position: static
      transform: none
      width: 100%

  &__img-wrap
    width: 100%
    position: relative
    padding-top: 58%

    +mw(600)
      padding-top: 85%

  &__img
    position: absolute
    width: 100%
    height: 100%
    left: 0
    top: 0

  & a.close-modal[rel="modal:close"]
    top: 80px

.modal
  border-radius: 0
  background-color: #010101
  padding-top: 0
  padding-bottom: 0
  padding-left: 0
  padding-right: 0
  max-width: none
  width: 100%
  flex-grow: 1
  height: 100%

  & a.close-modal
    width: 40px
    height: 40px
    background-image: url(/img/svg/menu-close.svg)
    background-repeat: no-repeat
    background-position: center center
    background-size: 15px 15px
    top: 100px
    right: calc(((100vw - 1270px) / 2) + 100px)
    border: 1px solid #9593A5
    border-radius: 50%
    z-index: 1

    +mw(1270)
      right: 100px

    +mw(768)
      top: 80px
      right: 50px

    +mw(600)
      top: 90px
      right: 30px

.form

  &__block

    & + div
      margin-top: 20px

  &__label
    display: none

  &__input
    width: 100%
    color: #F9F9F9
    font-size: 18px
    font-weight: 300
    padding-bottom: 20px
    padding-top: 20px
    background-color: transparent
    padding-left: 0
    padding-right: 0
    border: 0
    border-bottom: 1px solid #7C859D

    &::placeholder
      color: #F9F9F9
      font-size: 18px
      font-weight: 300
      padding-bottom: 20px

  &__btn
    margin-top: 40px
    margin-bottom: 30px
    width: 100%
    padding-top: 20px
    padding-bottom: 20px
    text-align: center
    text-transform: uppercase
    cursor: pointer

.consent
  font-size: 12px
  text-align: center
  color: #7C859D

  &__link
    font-size: 12px
    text-align: center
    color: #7C859D

.modal-thanks

  &::after
    content: ""
    position: absolute
    width: 100%
    height: 100%
    left: 0
    top: 0
    background-image: url(/img/thanks-1.png), url(/img/thanks-2.png)
    background-repeat: no-repeat
    background-size: 100% 100%
    background-position: 0 100%
    pointer-events: none

  &__inner
    padding-top: 186px
    padding-bottom: 300px
    position: relative
    flex-grow: 1
    display: flex
    flex-direction: column
    align-items: center

    +mw(768)
      padding-top: 0
      padding-bottom: 240px

  &__img-wrap
    width: 110px
    height: 110px
    background-image: url(/img/btn.png)
    background-size: contain
    margin-bottom: 30px

  &__picture
    position: absolute
    bottom: 0
    width: 100%
    max-width: 825px

  &__img-wrap-car
    width: 100%
    padding-top: 36%

    +mw(600)
      padding-top: 54%

  &__img
    position: absolute
    width: 100%
    height: 100%
    left: 0
    top: 0

  &__title
    margin-bottom: 20px

  &__text
    font-weight: 300
    font-size: 18px
    color: rgba(#B0B3C6,0.8)
    text-align: center

.blocker.current

  & .modal-promotions
    align-items: flex-start
    padding-top: 150px
    padding-bottom: 60px
    overflow: auto

    +mw(768)
      padding-top: 60px
      padding-bottom: 20px
      padding-left: 0
      padding-right: 0
      padding-bottom: 0

.modal-promotions
  padding-left: 20px
  padding-right: 20px

  &__inner
    max-width: 1040px
    margin-left: auto
    margin-right: auto
    border-radius: 20px
    border: 2px solid #332E33
    background-color: #201B20

    +mw(768)
      border: none
      border-radius: 0

  &__img-wrap
    width: 100%
    padding-top: 40%
    position: relative
    overflow: hidden
    border-radius: 20px 20px 0 0

  &__img
    position: absolute
    width: 100%
    height: 100%
    left: 0
    top: 0

  &__content
    position: relative
    padding-top: 40px
    padding-bottom: 90px
    padding-left: 100px
    padding-right: 100px

    +mw(768)
      padding-left: 20px
      padding-right: 20px

    &::after
      content: ""
      position: absolute
      width: 100%
      height: 5px
      top: 0
      left: 0
      background-color: #BD0022

    &::before
      content: ""
      position: absolute
      width: 80%
      height: 100px
      background-color: rgba(196, 2, 47, 0.3)
      filter: blur(100px)
      border-radius: 20px
      top: 0
      transform: translateY(-50%)

    h2
      font-size: 42px
      font-weight: 500
      color: #FCFCFD
      padding-bottom: 42px

      +mw(1270)
        font-size: calc(22px + 20 * (100vw / 1270))

      +mw(768)
        font-size: calc(22px + (20 + 20 * 0.7) * ((100vw - 320px) / 1270))
        text-align: left

    p
      font-weight: 300
      font-size: 18px
      color: rgba(#C8CBDF, 0.8)

      & + p
        margin-top: 20px

    small
      font-weight: 300
      font-size: 14px
      color: rgba(#C8CBDF, 0.8)
      margin-top: 60px
      display: block

  & a.close-modal
    right: calc(((100vw - 1040px) / 2) + 50px)
    top: 200px

    +mw(1040)
      right: 70px
      top: 200px

    +mw(768)
      top: 80px
      right: 30px
