.promo

  &__inner
    position: relative
    height: 518px
    display: flex
    align-items: center

    +mw(1000)
      flex-direction: column
      height: auto
      align-items: flex-start
      padding-top: 150px

    +mw(768)
      padding-top: 50px

  &__left-col
    max-width: 641px
    position: relative
    z-index: 1
    display: flex
    flex-direction: column
    align-items: flex-start

    +mw(768)
      margin-bottom: 50px
      align-items: center

  &__title
    margin-bottom: 40px

    +mw(768)
      text-align: center
      margin-bottom: 30px

  &__text
    color: #B0B3C6
    opacity: 0.8
    font-weight: 300
    max-width: 500px
    line-height: 1.33

    +mw(600)
      font-size: 18px
      text-align: center
      line-height: 28px

  &__right-col
    position: absolute
    top: 50%
    transform: translateY(-50%)
    // width: 74%
    width: 100%
    right: -350px

    +mw(1920)
      // right: calc((1270px - 100vw) / 2)

    +mw(1270)
      right: 0
      width: 72%

    +mw(1000)
      position: relative
      transform: none
      top: auto
      right: auto
      width: 100%

  &__img-wrap
    width: 100%
    position: relative
    // padding-top: 71%
    padding-top: 58%

    +mw(600)
      padding-top: 94%

  &__img
    position: absolute
    width: 100%
    height: 100%
    left: 0
    top: 0

    +mw(600)
      left: auto
      right: -20px

.video-box
  position: absolute
  left: 35%
  top: 60%
  transform: translate(-50%, -50%)
  display: flex
  flex-direction: column
  align-items: center

  +mw(768)
    flex-direction: row
    // bottom: 100%
    top: 0
    left: 50%
    transform: translateX(-50%)
    width: 100%
    justify-content: center

  &__link
    width: 136px
    height: 136px
    display: block
    margin-bottom: 20px

    +mw(768)
      width: 90px
      height: 90px
      margin-right: 20px
      margin-bottom: 0
      flex-shrink: 0

  &__text
    font-weight: 300
    color: #FCFCFD
    max-width: 184px

    +mw(768)
      font-size: 18px
      max-width: 165px

.title
  font-size: 42px
  font-weight: 500
  color: #FCFCFD

  &--tall
    text-transform: uppercase

  +mw(1270)
    font-size: calc(22px + 20 * (100vw / 1270))

  +mw(768)
    // font-size: calc(22px + (20 + 20 * 0.7) * ((100vw - 320px) / 1270))
    font-size: calc(24px + (18 + 18 * 0.7) * ((100vw - 320px) / 1270))

  &__flag
    display: inline-block
    width: 45px
    height: 30px
    background-image: url(/img/svg/flag.svg)
    background-repeat: no-repeat
    background-size: 100% auto
    position: relative

    +mw(600)
      width: 30px
      height: 20px

    &::after
      content: ""
      position: absolute
      width: 54px
      height: 54px
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      background: #C4C4C4
      z-index: -1
      filter: blur(45px)

      +mw(600)
        width: 40px
        height: 40px

.brands
  display: flex
  justify-content: flex-start
  background-color: #000
  border-radius: 5px
  position: relative
  z-index: 1

  +mw(768)
    width: 100%
    // background-color: #fff
    background-image: linear-gradient(0deg, rgba(196, 196, 196, 0.05) 50%, rgba(196, 196, 196, 0) 100%), linear-gradient(180deg, rgba(196, 196, 196, 0.01) 50%, rgba(196, 196, 196, 0) 100%)

  &__item
    position: relative
    // background-color: #000

    +mw(768)
      flex-grow: 1

    &::before
      content: ""
      position: absolute
      width: 100%
      height: calc(100% + 2px)
      top: -1px
      background-image: linear-gradient(rgba(#fff, 0.1), rgba(#fff, 0.1))
      // background-color: #fff
      z-index: -1

    & + li
      position: relative

      &::after
        content: ""
        position: absolute
        height: 100%
        width: 1px
        left: 0
        top: 0
        background-image: linear-gradient(rgba(#fff, 0.1), #272727 100%)
        mix-blend-mode: normal

  &--second

    +mw(768)

      & li:first-child
        border-radius: 5px 0 0 5px

        &::before
          width: calc(100% + 1px)
          right: 0
          border-radius: 5px 0 0 5px

    & li:last-child
      border-radius: 0 5px 5px 0

      &::before
        border-radius: 0 5px 5px 0
        width: calc(100% + 1px)
        left: 0

    &::after
      content: ""
      position: absolute
      height: 100%
      width: 1px
      left: 0
      top: 0
      background-image: linear-gradient(rgba(#fff, 0.1), #272727 100%)
      mix-blend-mode: normal

      +mw(768)
        content: none

  &--first

    +mw(768)
      margin-bottom: 5px

      & li:last-child
        border-radius: 0 5px 5px 0

        &::before
          border-radius: 0 5px 5px 0
          width: calc(100% + 1px)
          left: 0

    & li:first-child
      border-radius: 5px 0 0 5px

      &::before
        width: calc(100% + 1px)
        right: 0
        border-radius: 5px 0 0 5px

  &__text
    color: rgba(#FCFCFD, 0.8)
    font-weight: 300
    padding-left: 20px
    padding-right: 20px
    padding-top: 20px
    padding-bottom: 20px
    font-size: 18px

    +mw(768)
      padding-left: 0
      padding-right: 0
      text-align: center
      font-size: 18px

.promo__brands-wrap
  display: flex
  margin-bottom: 40px
  background-image: linear-gradient(0deg, rgba(196, 196, 196, 0.05) 50%, rgba(196, 196, 196, 0) 100%), linear-gradient(180deg, rgba(196, 196, 196, 0.05) 50%, rgba(196, 196, 196, 0) 100%)

  +mw(768)
    flex-direction: column
    max-width: 270px
    width: 100%
    background-image: none
    margin-bottom: 0
