section.breadcrumbs
  .breadcrumbs__inner.container
    ul.breadcrumbs__list  
      li.breadcrumbs__item  
        a.breadcrumbs__link.size-0.hover-opacity(href="/index.html") Главная

      li.breadcrumbs__item  
        a.breadcrumbs__link.size-0.hover-opacity(href="/index.html") Услуги
        
      
      li.breadcrumbs__item.breadcrumbs__item--current  
        a.breadcrumbs__link.size-0.hover-opacity(href="/index.html") Диагностика и ремонт электрооборудования
