section.modal-case.modal#modal-case-fairytale 
  .modal-case__wrap 
    .modal-case__inner.container 
      h2 Полная упаковка тексилем ресторана "Сказка”
      .modal-case__top.case-top
        .case-top__counter 
          p.case-top__counter-text 
          
        ul.case-top__list 
          -n=0
          while n<3
            -n++
            li.case-top__item
              figure.case-top__img-wrap   
                picture 
                  source(media="(max-width: 600px)" srcset="/img/case-top-600w.jpg")
                  source(srcset="/img/case-top.jpg 1x, /img/case-top@2x.jpg 2x")
                  img(class="case-top__img" src="/img/case-top.jpg" alt="ресторан Сказка”" width="1240" height="650" loading="lazy")
      .modal-case__middle.case-middle
        .case-middle__col 
          h3 Задача

          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt amet alias ipsa fugiat, eos quis velit perspiciatis veniam iste optio at ducimus laboriosam? A molestias repellat dolor totam reprehenderit iste corrupti earum, neque voluptatibus consectetur aliquam accusantium libero dolorum maxime vero quam. Ab quam vitae similique doloribus, dicta ullam quia.

          figure 
            +img-retina(`task`, `jpg`, `ресторана "Сказка”`, ``, `610`, `650`)
        
        .case-middle__col 
          h3 О компании

          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt amet alias ipsa fugiat, eos quis velit perspiciatis veniam iste optio at ducimus laboriosam? A molestias repellat dolor totam reprehenderit iste corrupti earum, neque voluptatibus consectetur aliquam accusantium libero dolorum maxime vero quam. Ab quam vitae similique doloribus, dicta ullam quia.

          figure 
            +img-retina(`about`, `jpg`, `ресторана "Сказка”`, ``, `610`, `650`)

      .modal-case__bottom.case-bottom
        // значение атрибута data-gallery="" должно быть уникальным у каждого кейса 
        a.case-bottom__link.glightbox(href="https://youtu.be/AkoKHxKXkAE" data-gallery=`gallery-case-1`)
          +img-retina(`result`, `jpg`, `Наши заказчики`, `case-bottom__img`, `292`, `520`)

        .case-bottom__content
          h3 РЕЗУЛЬТАТ
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt ipsa expedita obcaecati ab, odio totam neque magni ad quibusdam culpa eius voluptatem! Culpa, molestiae. Vitae, eaque qui nobis modi cumque veritatis porro reiciendis nemo sapiente, quia error totam, laudantium perferendis non placeat ullam? Atque ea nesciunt at laudantium rem nam.


