section.modal-promotions.modal#modal-promotions
  .modal-promotions__inner
    figure.modal-promotions__img-wrap 
      +img-retina(`modal-promotions`, `jpg`, `Замена жидкости в АКПП беслпатно`, `modal-promotions__img`, `996`, `400`)
    .modal-promotions__content 
      h2 Замена жидкости в АКПП беслпатно!
      p Обслуживание коробки передач дело затратное. Данная процедура происходит в среднем раз в 60 000 км. и как правило выложить большую сумму сразу готов не каждый.
      p А обслуживание АКПП, если конечно хочется , чтобы она прослужила долго и без нареканий, необходимо производить четко по техническому регламенту не откладывая в долгий ящик.
      p Поэтому мы решили сэкономить Вам дополнительно 1200 рублей на аппаратной замене масла в АКПП и сделать эту услугу абсолютно БЕСПЛАТНО*! Кроме этого Вы получите бесплатную мойку кузова и дополнительно от 10% до 15% бонусов на Вашу бонусную карту от суммы обслуживания вашей АКПП, которые сможете использовать для обслуживания в нашем Автотехцентре уже на следующий день!

      small * При покупке жидкости и расходных материалов в Автотехцентре Оригинал.<br> Акция продлится до 30 апреля 2021 г.