section#modal-request.modal-request.modal
  .modal-request__wrap.container
    .modal-request__inner
      .modal-request__left-col
        h2.modal-request__title.title Заявка на консультацию
        p.modal-request__text Оставте заявку и наш ведущий менеджер приемщик перезвонит Вам и проконсультирует
        form.modal-request__form.form(action="#" method="post" autocomplete="off")
          fieldset.form__field
            .form__block
              label.form__label.size-2(for="name") Ваше имя
              input.form__input.size-3#name(type="text" placeholder="Иван" name="name")

            .form__block
              label.form__label.size-2(for="phone") Ваш телефон*
              input.form__input.size-3#phone.valid(type="text" placeholder="Ваш телефон" request name="phone" required)

          button.form__btn.btn-2.hover-opacity(type="submit") Получить консультацию

          p.form__consent.size-0.consent нажимая на кнопку, вы подтвержаете согласие <a class="consent__link hover-opacity" href="/politics.html" target="_blank">политикой конфиденциальности</a>

      .modal-request__right-col
        figure.modal-request__img-wrap
          picture
            source(media="(max-width: 600px)" srcset="/img/modal-request-bg-600w.png")
            img.modal-request__img(src="/img/modal-request-bg.png" srcset="/img/modal-request-bg.png 1x, /img/modal-request-bg@2x.png 2x" loading="lazy" alt="ремонт немецких автомобилей" width="1025" height="598")



      
