section#modal-thanks.modal-thanks.modal 
  .modal-thanks__inner  
    figure.modal-thanks__img-wrap 
    h2.modal-thanks__title.text-forum Спасибо!<br> Ваша заявка отправлена
    p.modal-thanks__text.size-4 В ближайшее время мы свяжимся с Вами и уточним все необходимые детали.
  
        

