- const header_nav = [[`О компании`,`#about`],  [`Новости`,`#about`], [`Дни рождения`,`#about`], [`Библиотека`,`#about`], [`Галерея`,`#about`]]

- const modal_request_list = [`Ответим все на ваши вопросы`,`Подберем лучшие варианты по материалам`,`Поможем определиться с\u00A0моделями`,`Подготовим расчет стоимости изготовления`]

-const services_type = [[`Уникальная униформа для\u00A0HoReCa`,`от повара до уборщицы`],  [`Спецодежда для сферы обслуживания`,`костюмы, халаты, головные уборы `], [`Интерьерный текстиль `,`от салфеток до постельного белья `], [`Веранды, тенты и шатры`,`проекты любой сложности`]]

-const scenario_list = [[`Формируем идею - подготавливаем концепцию`,`В основе каждого заказа идея, которая является для нас самой важной стартовой точкой. Наш менеджер работает с каждым заказом индивидуально, выявляя все потребности и пожелания Клиента, после чего составляет подробное техническое задание.`, `Мы принимаем заказы офлайн и онлайн.`],  [`Подбираем ткани - в нашем каталоге более 20 000 различных тканей`,`Выбор ткани - один из важнейших аспектов пошива.Мы поможем подобрать лучшую ткань для ваших изделий по выгодной цене с учетом Ваших предпочтений. `,`none`], [`Определяемся с моделью - Разрабатываем с нуля или используем собственные наработки`,`Мы готовы подобрать идеальный фасон и модель любого изделия, учитывая индивидуальные пожелания заказчика.`, `Предоставим на выбор три варианта`]]

- let header = false
