- const header_nav = [[`услуги`,`/services.html`],  [`акции`,`/promotions.html`], [`гарантии`,`/warranty.html`], [`контакты`,`/contacts.html`]]

- let page_index = false
- let modal_request = false
- let modal_promotions = false
- let header = true
- let footer = true
- let n = 0
