- const header_nav = [[`услуги`,`/services.html`],  [`акции`,`/promotions.html`], [`гарантии`,`/warranty.html`], [`контакты`,`/contacts.html`]]

- const other = [[`Диагностика и ремонт электрооборудования`],[`Замена масла`],[`Ремонт и диагностика двигателя`],[`Замена и ремонт элементов трансмиссии`],[`Замена ремня (цепи) ГРМ`],[`Обслуживание тормозной системы`],[`Установка предпусковых подогревателей`]]

- const turn_services = [[`Ремонт стартера	`,`1050`],[`Замена стартера	`,`1040`],[`Ремонт генераторов	`,`1200`],[`Замена генератора	`,`720`],[`Датчик давления масла	`,`390`],[`Замена лампы ближнего света	`,`130`],[`Замена катушки зажигания	`,`260`],[`Замена лампы заднего фонаря	`,`130`],[`Проверка аккумуляторной батареи	`,`130`]  ]

- let page_index = false
- let modal_request = false
- let modal_promotions = false
-let turn = false
-let contacts = false
- let header = true
- let footer = true
- let n = 0
