extends ../templates/_main.pug
include ../helpers/mixins.pug

  block link-active
    - modal_request = true


block content
  include ../modules/_breadcrumbs.pug
  section.warranty-promo
    .warranty-promo__inner


      figure.warranty-promo__img-wrap 
        picture
          source(media="(max-width: 768px)" srcset="/img/warranty-bg-600w.jpg")
          img.warranty-promo__img(src="/img/warranty-bg.jpg" srcset="/img/warranty-bg.jpg 1x, /img/warranty-bg@2x.jpg 2x" loading="lazy" alt="Гарантийная политика" width="1440" height="479")
        

  section.warranty
    .warranty__inner.container 
      .warranty__top
        h2.warranty__title.title.title--tall Гарантийная <br>политика
        .warranty__down.down
          figure.down__img-wrap
      
      .warranty__content  
        p Мы уверены в качестве своей работы и надежности запчастей, которые мы используем в нашем Автотехцентре, поэтому даем Гарантию, которая позволит Вам чувствовать себе уверенным и защищенным от возможных проблем.Политика руководства техцентра – решение всех спорных вопросов в пользу Клиента.

        p Если вы пришли из-за поломки некачественной запчасти или ошибки в работе наших механиков, знайте: ВСЕ подобные случаи мы признаем гарантийными!

        h3 СРОКИ И ОСОБЕННОСТИ ГАРАНТИЙНЫХ ОБЯЗАТЕЛЬСТВ

        p Если вы столкнулись с гарантийным случаем, не спешите обращаться в другой автосервис – вы уже оплатили ремонт, и мы устраним неполадку, возникшую по нашей вине, за свой счет. Стоит ли оплачивать услуги дважды, если есть возможность все исправить бесплатно?

        h3 ОСОБЕННОСТИ ГАРАНТИЙНОГО РЕМОНТА:

        ul 
          li <span>1.</span> Мы исправим поломку по гарантии в минимальные сроки.
          li <span>2.</span> Обязательства по гарантии выполняются в случае соблюдения правил по эксплуатации авто, которые перечислены в руководстве завода-изготовителя.
          li <span>3.</span> Гарантия распространяется на услуги и запчасти, прописанные в заказ-наряде.
          li <span>4.</span> Доставка авто, которое не может передвигаться из-за поломки, не входит в стоимость гарантии и оплачивается отдельно. Но мы поможем вам найти хорошего перевозчика.
          li <span>5.</span> Если вы не согласны с условиями и считаете, что с вами поступили несправедливо, отправьте сообщение руководителю техцентра: market@original38.ru и вопрос будет решен.

        h3 ГАРАНТИЯ 6 МЕСЯЦЕВ ПРЕДОСТАВЛЯЕТСЯ НА СЛЕДУЮЩИЕ УСЛУГИ И ЗАПЧАСТИ:

        ul 
          li <span>1.</span> Ходовая часть и подвеска;
          li <span>2.</span> Новые, восстановленные или исправленные агрегаты трансмиссии;
          li <span>3.</span> Новый или восстановленный двигатель;
          li <span>4.</span> Замена комплекта ремня ГРМ;
          li <span>5.</span> Восстановленная рулевая рейка;
        
        h3 ГАРАНТИЯ 3 МЕСЯЦА ПРЕДОСТАВЛЯЕТСЯ НА СЛЕДУЮЩИЕ УСЛУГИ И ЗАПЧАСТИ:

        ul 
          li <span>1.</span> Электрика и электрические компоненты;
          li <span>2.</span> Новый или восстановленный стартер, генератор;
          li <span>3.</span> Ремонт топливной системы или системы впрыска при использовании оригинальных запчастей и расходных материалов и/или рекомендованных нами аналогов;
          li <span>4.</span> Все остальные услуги автосервиса, не указанные в перечне.

        h3 ГАРАНТИЯ ТЕРЯЕТСЯ В СЛУЧАЕ:

        ul 
          li <span>1.</span> Аварии;
          li <span>2.</span> Дефектов, вызванных некачественным топливом;
          li <span>3.</span> При позднем обращении;
          li <span>4.</span> При возникновении поломок из-за внесения самовольных изменений в конструкцию авто.
          li <span>5.</span> При несоблюдении Клиентом рекомендаций, прописанных в заказ-наряде;

        h3 ГАРАНТИЙНЫЕ ОБЯЗАТЕЛЬСТВА НЕ РАСПРОСТРАНЯЮТСЯ НА:

        ul 
          li <span>1.</span> Запчасти и оборудование, установленные не в нашем автосервисе;
          li <span>2.</span> Подвески, ходовую и узлы трансмиссии авто, которые участвовали в скоростных состязаниях и гонках по бездорожью;
          li <span>3.</span> Узлы двигателя, электроники и трансмиссии, на которых есть следы от жидкости и внешних воздействий;
          li <span>4.</span> Лампы и предохранители;
          li <span>5.</span> Прокол шин и дефекты дисков колес из-за механических повреждений;
          li <span>6.</span> Гидравлику, сальники трансмиссии и двигателя при обнаружении в них большого количества грязи, глины, травы и др. инородных предметов.

        h4 Мы подходим к вопросу гарантии со всей ответственностью.
        h4 Знайте: наши мастера всегда на вашей стороне, потому что довольный клиент – это хорошая репутация нашего техцентра!

            


        

